@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Roboto+Mono:wght@100;400;600&display=swap');

:root {
  --brand-blue-zodiac : #0A1930;
  --brand-moon-raker : #CCD6F6;
  --brand-bali-hai : #8892AF;
  --brand-puerto-rico : #4EC2AD;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62,5%;
}
/*
font-family: 'Josefin Sans', sans-serif;
font-family: 'Roboto Mono', monospace;
*/

body {
  font-family: 'Roboto Mono', monospace, sans-serif;
  background: var(--brand-blue-zodiac);
  color: var(--brand-bali-hai);
  margin: 0 auto;
}

.color-puerto {
  color: var(--brand-puerto-rico);
}

.color-moon {
  color: var(--brand-moon-raker);
}

.font-josefin {
  font-family: 'Josefin Sans', sans-serif;
}

header {
  background-color: var(--brand-blue-zodiac);
  position: sticky;
  display: flex;
  z-index: 40;
  flex-direction: column-reverse;
  width: 100%;
  box-shadow: 0 0 0.4rem rgba(59, 88, 87, 0.6);
    

  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    width: 5rem;
    height: auto;
    margin-left: 1rem;
  }

  .hamburger {
  position: sticky;
  z-index: 100;
  border: none;
  background: var(--brand-blue-zodiac);
  color: var(--brand-puerto-rico);
  cursor: pointer;
}

  .material-icons {
    font-size: 2.5rem;
    border: none;
  }

  .closeIcon {
    display: none;
  }

  .navigation-list {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: var(--brand-blue-zodiac);
    color: var(--brand-bali-hai);
    list-style: none;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
  }

  .navigation-element {
    padding: 2.2rem 0;
    vertical-align: center;
  }

  .navigation-link {
    text-decoration: none;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 1.6rem;
    color: var(--brand-bali-hai);

    &:hover,
    &:focus {
      color: var(--brand-puerto-rico);
    }
  }

  .showMenu {
    transform: translateY(0);
  }
}

.uppercase {
  text-transform: uppercase;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  position: relative;
  font-weight: bold;
}

h4 {
  font-family: 'Roboto Mono', monospace;
  align-self: center;
  font-size: 1.2rem;
}

main {
  margin: 0 auto;
  padding: 10rem 1rem;
  line-height: 1.2;
}

.download-cv {
  width: 15em;
  margin: 2rem 0;
  padding: 1rem 1rem;
  border: 0.1rem solid var(--brand-puerto-rico);
  color: var(--brand-puerto-rico);
  background: var(--brand-blue-zodiac);
  border-radius: 0.3rem;
  font-size: 1rem;
  font-weight: 700;
  font-family: 'Roboto Mono', sans-serif;

  &:hover {
    background-color: rgba(78, 194, 173, 0.64);
    color: var(--brand-blue-zodiac);
  }
}

.container-illustration {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.credit-illustration {
  /* font-size: 0.5rem;
  justify-content: end;
  color: var(--brand-moon-raker);
  align-self: center; */
  display: none;
}

.about {
  line-height: 1.8;
}

.header-section {
  display: flex;
  flex-direction: column;
  margin-top: 8rem;
}

.line {
  border: 0.01rem solid var(--brand-moon-raker);
  margin: 0.5rem 0 1.4rem 0;
}

.card {
  width: 100%;
  height: auto;
  overflow-y: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.3s;
  border-radius: 0.3rem;
  background-color: rgb(160 192 179 / 21%);
  box-shadow: 0 0 0 0.4rem rgb(179 203 198 / 30%);
}

.card-main {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

.card-content {
  padding: 2rem;
}

.job-title {
  color: var(--brand-puerto-rico);
  text-transform: uppercase;
}

.card-buttons {
  display: flex;
  position: sticky;
  bottom: 0;
  left: 0;
  margin-top: auto;
  background-color: transparent;

  .button-exeperience {
    flex: 1 1 auto;
    border: 0;
    background: transparent;
    padding: 1rem 0.5rem;
    transition: 0.3s;
    cursor: pointer;
    color: var(--brand-moon-raker);
    font-size: 1rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    outline: 0;
    border-bottom: 0.2rem solid transparent;

    &.is-active,
    &:hover {
      color: var(--brand-puerto-rico);
      border-bottom: 0.2rem solid var(--brand-puerto-rico);
      background: linear-gradient(to bottom,
      rgb(56 121 125 / 25%) 0%,
      rgb(49 62 69 / 63%) 44%,
      rgb(17 76 72 / 24%) 90%)
    }
  }
}

.card-section {
  display: none;

  &.is-active {
    display: block;
    animation: fadeIn 0.4s both;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translatey(4rem);
  }
  100% {
    opacity: 1;
  }
}

.missions {
  padding-top: 1rem;
}

.details-mission {
  font-size: 0.9rem;
  line-height: 1.8;

  &::before {
    content: '☑';
    color: var(--brand-puerto-rico);
    margin: 0 0.5rem;
  }
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
  .framer {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 1rem 1rem;
    margin-bottom: 2rem;
    color: var(--brand-moon-raker);
    background: #8892af36;
    border-radius: 0.5rem;
    transition: background .5s;
    border: 0.1rem solid var(--brand-puerto-rico);
    box-shadow: 0 0.6rem 5rem rgba(#2850468a, 0.35);

    &:hover {
      background: #1ea19672;
    }
  }

.link-to-projects {
  display: flex;
  justify-content: center;

  :first-child{
    margin-right: 1rem;
  }
}

.details-project {
  top: 30%;
  padding: 1rem 1rem;
  text-align: justify;
}

.challenge-title {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
  font-size: 1.4rem;
  border-bottom: 0.01rem solid var(--brand-moon-raker);
}

.stack-list {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

.stack {
  color: var(--brand-puerto-rico);
  background-color: transparent;
  padding: 0.4rem 1.4rem;
  border: 0.02rem solid var(--brand-puerto-rico);
  border-radius: 0.2rem;
}

.challenges-tittle {
  display: flex;
  
}

.skills-tittle {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;

  .fa-sharp,
  .fa-briefcase {
    padding-right: 1rem;
  }
}

.card-skills {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 1.3rem 1rem;
  margin-bottom: 2rem;
  color: var(--brand-moon-raker);
  background: #8892af36;
  border-radius: 0.5rem;
}

.skills-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  
  .stack-list {
    display: flex;
    justify-content: space-evenly;
  }
}

.icon {
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
}

.card-soft-skill {
  display: flex;
  flex-direction: column;
  align-items: inherit;
}

.soft-skill {
  max-width: 12rem;
  margin-bottom: 1rem;
  padding: 1rem 0.5rem;
  border: 0.1rem solid var(--brand-puerto-rico);
  background:rgba(160, 206, 197, 0.317);
  border-radius: 0.3rem;
  align-items: center;
}

.list-soft-skills {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.contact-title {
  font-size: 2rem;
  text-align: center;
  padding: 2rem 0;
}

.text-contact {
  display: flex;
  text-align: center;
  font-size: 1.2rem;
}

footer {
  padding: 2rem 0;


  .navigation-footer {
    display: flex;
    flex-direction: column;
  }

  .networks-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2rem;
  }

  .networks-link {
    color: var(--brand-moon-raker);

    &:hover,
    &:focus {
      color: var(--brand-puerto-rico);
    }
  }
  
  .icon-social {
    font-size: 1.5rem;
  }

  .credit-page {
    display: flex;
    justify-content: center;
  }

}



/* ------- tablet ---------- */
@media screen and (min-width: 48rem){
 
  main {
    width: 95%;

    .introduction {
      display: flex;
    }

    .card {
      width: 70%;
      margin: 50px auto;
    }

    .framer {
      width: 48%;
      margin-right: 0.5rem;
    }

    .container-stack {
      display: flex;
    }

    .stack {
      margin: 0;
    }

    .card-container {
      width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 50px;
    }

    .skills-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      margin-top: 50px;
    }

    .card-skills {
      width: 48%;
      height: auto;
      display: flex;
    }

    .card-soft-skill {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .soft-skill {
      background: transparent;
      max-width: 25rem;
      margin-left: 1rem;
    }
  }
}

/* ------  Desktok   -------*/
@media screen and (min-width: 64rem) {
  header {
    height: 8rem;

    .hamburger {
      display: none;
    }

    .logo {
      width: 8rem;
      height: auto;
      margin-left: 1rem;
    }
  
    .navigation {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    .navigation-list {
      position: relative;
      display: flex;
      flex-direction: row;
      transform: none;
      padding: 0;
    } 

    .navigation-link {
      font-size: 1rem;
      padding-left: 1.4rem;
    }
  }
  
  main {
    padding: 10rem 8rem;
    font-size: 1.3rem;
    margin: 0 auto;

    .introduction {
      display: flex;
    }

    .link-experience {
      font-size: 1.2rem;
    }

    .skills-container {
      flex-direction: column;
    }

    .card-skills {
      width: 100%;
    }
  }

  footer {
    .networks-item {
      margin-right: 1.5rem;
    }

    .networks-list {
      justify-content: center;
    }
  }
}