@font-face {
  font-family: "Roash";
  src: url("./assets//fonts/RoashePersonalUse-jEa4M.otf") format("woff");
}

html {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  font-size: 16px;
  margin: 0;
  background: url("./assets//images/back.png");
  min-height: 100vh;
  position: relative;
  font-family: "GeneralSans-Medium", sans-serif;
  z-index: -2;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(84, 83, 83, 0.239);
  z-index: -1;
}

.App {
  font-size: 16px;
  text-align: center;
  min-height: 100vh;
}

.background {
  position: absolute;
  z-index: -1;
  opacity: 1;
  border-radius: 50rem;
  filter: blur(6.4rem);
}

.background-bottom-right {
  bottom: -20vh;
  right: -15vh;
  width: 50vw;
  height: 50vw;
  background: linear-gradient(
    132deg,
    rgba(255, 116, 72, 0.5) 35%,
    rgba(255, 72, 72, 0.5) 54%,
    rgba(98, 72, 255, 0.5) 80%
  );
}

.background-top-left {
  top: -34vh;
  left: -24vh;
  width: 50vw;
  height: 50vw;
  background: linear-gradient(
    132deg,
    rgba(255, 116, 72, 0.5) 35%,
    rgba(255, 72, 72, 0.5) 54%,
    rgba(98, 72, 255, 0.5) 80%
  );
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@media (max-width: 768px) {
  html {
    overflow-y: auto;
  }

  body {
    overflow-y: auto;
    overflow-x: hidden;
  }

  .project-container {
    margin: 12rem 0 0;
    width: 90%;
  }

  .modal {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
  }

  body::before {
    width: 100%;
    height: max-content;
    background-color: rgba(84, 83, 83, 0.239);
    z-index: -1;
  }

  .background-bottom-right {
    width: 100vw;
    height: 100vw;
  }

  .background-top-left {
    width: 100vw;
    height: 100vw;
  }

  footer {
    position: relative;
  }
}

#mobile-menu {
  overflow: auto;
}
