@font-face {
  font-family: "Roash";
  src: url("./assets//fonts/RoashePersonalUse-jEa4M.otf") format("woff");
}

html {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  font-size: 16px;
  margin: 0;
  background-image: url("../src/assets/images/plufow-le-studio-Rpeu1Hcc97Q-unsplash.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  font-family: "GeneralSans-Medium", sans-serif;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(84, 83, 83, 0.239);
    z-index: -1;
  }
}

body::after {
  content: "Photo de Plufow Le Studio sur Unsplash";
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  color: #fff;
  font-size: 0.5rem;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
}

.App {
  font-size: 16px;
  text-align: center;
  min-height: 100vh;
}

.circular-text {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.text {
  font-weight: 600;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  font-family: "Kanit";
  font-size: 17px;
  fill: #111;
  text-shadow: 2px 0px #ccc;
}

#rotatingText {
  animation-name: rotate-circle;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes rotate-circle {
  to {
    transform: rotate(1turn);
  }
}
