@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;500&display=swap");

.preloader {
  font-family: "JetBrains Mono", monospace;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.text-size {
  margin: 0;
  line-height: 1.7;
  font-size: 1.5em;
  white-space: nowrap;
}

.text-out {
  font-size: 1.7rem;
}

.text-wrapper {
  max-width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
}

.string-wrapper {
  position: relative;
  height: 2em;
  overflow: hidden;
}

@keyframes move-desktop {
  0%,
  20% {
    transform: translateY(0);
  }
  25%,
  45% {
    transform: translateY(-5vh);
  }
  50%,
  70% {
    transform: translateY(-9.7vh);
  }
  75%,
  95% {
    transform: translateY(-13vh);
  }
  100% {
    transform: translateY(-17.2vh);
  }
}

@keyframes move-mobile {
  0%,
  20% {
    transform: translateY(0);
  }
  25%,
  45% {
    transform: translateY(-2vh);
  }
  50%,
  70% {
    transform: translateY(-3.6vh);
  }
  75%,
  95% {
    transform: translateY(-5.5vh);
  }
  100% {
    transform: translateY(-7.2vh);
  }
}

@media screen and (max-width: 680px) {
  .string-wrapper {
    height: 1em;
  }

  .text-out {
    font-size: 1rem;
  }

  .text-size {
    font-size: 0.8rem;
    line-height: 1.2;
  }

  .string {
    animation: move-mobile 10s infinite;
  }
}

@media screen and (min-width: 681px) {
  .string-wrapper {
    height: 2em;
  }

  .text-out {
    font-size: 1.9rem;
  }

  .string {
    animation: move-desktop 10s infinite;
  }
}
